<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs", { title : 'Home'})  %>
<body>
    <%- include("partials/header.ejs")  %> 

   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>
   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>
   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>
   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>
   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>
   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>
   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>
   <h1 class="carrito-compras"> Proximamente carrito de compras !!!!</h1>

    <%- include("partials/footer.ejs")  %> 
    <%- include("partials/scripts.ejs")  %> 
</body>
</html>