<footer>
    <div class="socialmedia">
        <div class="">
            <div>
                <h5>Seguinos!</h5>
            </div>
            <div>
                <i class="fab fa-facebook-square"> </i> Facebook
            </div>
            <div>
                <i class="fab fa-instagram"> </i> Instagram
            </div>
            <div>
                <i class="fab fa-twitter-square"> </i> Twitter
            </div>
            <div>
                <i class="fab fa-pinterest-square"> </i> Pinterest
            </div>
        </div>    
    </div>
    <div class="copyright">
        <p>Copyright © 2020 Fabricio A. Digennaro</p>
    </div>
</footer>